/*------------------------------------*\
		_BASE.SCSS
\*------------------------------------*/

/**
 * IMPORTS
 */

 @import url("http://fonts.googleapis.com/css?family=Lato:400,700");

/**
 * BASE STYLES
 */

html {
	-webkit-font-smoothing: antialiased;
}

body.sfn-live-report {
	max-width: 960px;
	margin: 0 auto;
	padding: 15px;
	background-image: url("../images/background.jpg");
	-webkit-background-size: cover;
			background-size: cover;
	font-family: 'Lato', 'Helvetica', sans-serif;
	color: #fff;
}

img {
	max-width: 100%;
}

.page-title {
	max-width: 600px;
	background: url("../images/sfn-logo.png") no-repeat;
	background-size: auto 60px;
	text-align: center;
	font-size: 1.1em;
	margin: 0em auto .5em;
	line-height: 60px;
	text-align: left;
	padding-left: 80px;
	white-space: nowrap;

	@media (min-width:450px) and (max-width:639px) {
		font-size: 1.6em;
	}

	@media (min-width:640px) {
		font-size: 2em;
	}
}

.report-tools {
	@include outer-container;
	display: none;
	max-width: 600px;
	margin: 20px auto;
	background: rgba(255,255,255,0.3);
	padding: 20px;
	border-radius: 7px;
}

.input-group {
	display: block;
	float:left;
	width: 50%;
	padding: 0 6px;

	&:nth-child(odd) {
		padding-left: 0;
	}

	&:nth-child(even) {
		padding-right: 0;
	}

	&.full {
		width: 100%;
		margin-top: 10px;
		padding: 0;
	}

	input, label {
		display: block;
		width: 100%;
	}

	input {
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		padding: 1em;
		border: 1px solid #ccc;
		font-size: 1.2em;
		border-radius: 7px;
	}

	input[type=text]:active, input[type=text]:focus {
		outline: none;
		background-color: #D2F870;
	}

	input[type=submit] {
		background-color: $color-sfn-blue;
		border: 2px solid darken($color-sfn-blue, 10%);
		color: #fff;
		outline: none;

		&:hover {
			background-color: darken($color-sfn-blue, 5%);
			border: 2px solid $color-sfn-blue;
			cursor: pointer;
		}

		&:active {
			background-color: darken($color-sfn-blue, 10%);
			top:1px;
		}
	}
}

.dropdown {
		/* Size and position */
		position: relative;
		max-width: 600px;
		margin: 0 auto;
		padding: 18px 10px;

		/* Styles */
		background: #fff;
		border-radius: 7px;
		border: 1px solid rgba(0,0,0,0.15);
		cursor: pointer;
		outline: none;

		/* Font settings */
		font-weight: bold;
		color: #333;

		&:after {
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			right: 15px;
			top: 50%;
			margin-top: -3px;
			border-width: 6px 6px 0 6px;
			border-style: solid;
			border-color: #333 transparent;
		}

		.dropdown__list {
			/* Size & position */
			position: absolute;
			top: 90%;
			left: 0;
			right: 0;

			/* Styles */
			background: white;
			border-radius: inherit;
			border: 1px solid rgba(0,0,0,0.17);
			box-shadow: 0 0 5px rgba(0,0,0,0.1);
			font-weight: normal;
			-webkit-transition: all 0.1s ease-in;
			-moz-transition: all 0.1s ease-in;
			-ms-transition: all 0.1s ease-in;
			-o-transition: all 0.1s ease-in;
			transition: all 0.1s ease-in;
			list-style: none;

			/* Hiding */
			opacity: 0;
			pointer-events: none;
			padding: 0 10px;

			&:before {
				content: "";
				width: 0;
				height: 0;
				position: absolute;
				bottom: 100%;
				right: 13px;
				border-width: 0 8px 8px 8px;
				border-style: solid;
				border-color: rgba(0,0,0,0.1) transparent;
			}

			&:after {
				content: "";
				width: 0;
				height: 0;
				position: absolute;
				bottom: 100%;
				right: 15px;
				border-width: 0 6px 6px 6px;
				border-style: solid;
				border-color: #fff transparent;
			}

			li {
				a {
					display: block;
					padding: 10px;
					text-decoration: none;
					line-height: 3;
					color: #333;
					border-bottom: 1px solid #e6e8ea;
					box-shadow: inset 0 1px 0 rgba(255,255,255,1);
					-webkit-transition: all 0.3s ease-out;
					-moz-transition: all 0.3s ease-out;
					-ms-transition: all 0.3s ease-out;
					-o-transition: all 0.3s ease-out;
					transition: all 0.3s ease-out;
				}

				&:first-of-type a {
						border-radius: 7px 7px 0 0;
				}

				&:last-of-type a {
					border: none;
					border-radius: 0 0 7px 7px;
				}

				&:hover a {
					background: #f3f3f3;
				}
			}
		}

		&.active .dropdown__list {
			opacity: 1;
			pointer-events: auto;
		}
}

.visual-checkbox {
	text-align: center;

	input[type=checkbox] {
		@include visuallyhidden;

		&:not(:first-of-type) {
			margin-left: 1em;
		}

		&:checked {
			& + label > i {
				color: $color-sfn-blue;
			}
		}
	}

	label {
		display: inline-block;

		i {
			color: #ccc;
			font-size: 3em;
			line-height: 2;
			vertical-align: middle;

			&:hover {
				cursor: pointer;
			}
		}
	}
}